/* ROOT VARIABLES */
:root {
  --navbar-height: 70px;
}

/* RESET RULES */
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* GLOBAL RULES */

#navbar {
  height: var(--navbar-height);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
